[run]
source = lionagi
parallel = true
concurrency = thread,multiprocessing
omit =
    tests/*
    lionagi/service/third_party/*
    lionagi/operations/_visualize_graph.py
    lionagi/tools/file/reader.py
    lionagi/tools/types.py
    lionagi/_types.py
    lionagi/version.py

[report]
skip_covered = true
show_missing = true
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise NotImplementedError
    raise AssertionError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    pass
    raise ImportError
    @abc.abstractmethod
    @abstractmethod
    # TYPE_CHECKING
    # pragma: no cover

[html]
directory = htmlcov
title = LionAGI Coverage Report

[xml]
output = coverage.xml
